<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page"
                            sec:authorize="isAnonymous()">Home</a></li>
    <li class="nav-item"><a href="/post/list/1" class="nav-link active" aria-current="page"
                            sec:authorize="isAuthenticated()">Board</a></li>

    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    <li class="nav-item"><a href="#" class="nav-link" sec:authorize="isAnonymous()">FAQs</a></li>
    <li class="nav-item"><a
        th:href="@{|../../../member/mypage/${#authentication.getPrincipal().getUsername()}|}"
        class="nav-link" sec:authorize="isAuthenticated()">MyPage</a>
    </li>
    <li class="nav-item"><a href="/login" class="nav-link" sec:authorize="isAnonymous()">Login/Regist</a>
    </li>
    <li class="nav-item"><a href="/logout" class="nav-link"
                            sec:authorize="isAuthenticated()">Logout</a></li>
  </ul>
</header>
<div class="container my-3">
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="postInfo, loop : ${list}">
      <td th:text="${postInfo.id}"></td>
      <td>
        <a th:href="@{|../${postInfo.id}|}"
           th:text="|${postInfo.postSubject} [${postInfo.commentCount}]|"></a>
      </td>
      <td th:text="${postInfo.name}"></td>
      <td th:text="${#temporals.format(postInfo.postDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{../create}" class="btn btn-primary">질문 등록하기</a>
  <!-- 페이징처리 시작 -->
  <div th:if="${!list.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${pageNum <= 5} ? 'disabled'">
        <a class="page-link" th:href="@{|${pageNum-5}|}">
          <span>이전</span>
        </a>
      </li>
      <li th:each="page: ${#numbers.sequence(1, pageCount)}"
          th:if="${page >= pageNum-5 and page <= pageNum+5}"
          th:classappend="${page == pageNum} ? 'active'"
          class="page-item">
        <a th:text="${page}" class="page-link" th:href="${page}"></a>
      </li>
      <li class="page-item"
          th:classappend="${#lists.size(list) < 30 or pageNum == pageCount} ? 'disabled'">
        <a class="page-link" th:href="@{|${pageNum+5}|}">
          <span>다음</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
</div>


<div th:replace="~{misc/footer :: footer}"></div>
<script th:src="@{/js/bootstrap.js}" defer></script>
</body>

</html>