<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page"
                            sec:authorize="isAnonymous()">Home</a></li>
    <li class="nav-item"><a href="/post/list/1" class="nav-link active" aria-current="page"
                            sec:authorize="isAuthenticated()">Board</a></li>

    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    <li class="nav-item"><a href="#" class="nav-link" sec:authorize="isAnonymous()">FAQs</a></li>
    <li class="nav-item"><a
        th:href="@{|../../../member/mypage/${#authentication.getPrincipal().getUsername()}|}"
        class="nav-link" sec:authorize="isAuthenticated()">MyPage</a>
    </li>
    <li class="nav-item"><a href="/login" class="nav-link" sec:authorize="isAnonymous()">Login/Regist</a>
    </li>
    <li class="nav-item"><a href="/logout" class="nav-link"
                            sec:authorize="isAuthenticated()">Logout</a></li>
  </ul>
</header>
<div class="container">
  <h5 class="my-3 border-bottom pb-2">댓글 수정</h5>

  <form th:action="@{|modify|}" method="post">
    <!--    <div th:replace="~{misc/form_errors :: formErrorsFragment}"></div>-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div class="mb-3">
      <label for="comment" class="form-label">내용</label>
      <textarea name="comment" id="comment" class="form-control" rows="10"
                th:value="${commentDto.commentText}" th:text="${commentDto.commentText}"></textarea>
    </div>
    <input type="submit" value="작성" class="btn btn-primary my-2">
  </form>
</div>


<div th:replace="~{misc/footer :: footer}"></div>
<script th:src="@{/js/bootstrap.js}" defer></script>

</body>
</html>