<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    <li class="nav-item"><a href="/login" class="nav-link active"
                            aria-current="page">Login/Regist</a></li>
  </ul>
</header>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="row">
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <form method="post" action="join" th:object="${studentAndAccountDto}">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <div th:replace="~{misc/form_errors :: formErrorsFragment}"></div>
          <label>학교</label>
          <select class="form-select" aria-label="학교를 선택하세요" th:field="*{schoolId}">
            <option value="-1" selected>학교를 선택하세요</option>
            <option value="1">밀레니엄 사이언스 스쿨</option>
            <option value="2">트리니티 종합 학원</option>
            <!-- <option value="3">Three</option> -->
          </select>
          <label>동아리</label>
          <select class="form-select" aria-label="동아리를 선택하세요" th:field="*{clubId}">
            <option value="-1" selected>동아리를 선택하세요</option>
            <option value="1">베리타스</option>
            <option value="2">세미나</option>
            <!-- <option value="3">Three</option> -->
          </select>
          <label>직책</label>
          <select class="form-select" aria-label="동아리 내 직책을 선택하세요" th:field="*{positionId}">
            <option value="-1" selected>동아리 내 직책을 선택하세요</option>
            <option value="1">부부장</option>
            <option value="2">일반회원</option>
            <option value="3">회장</option>
            <option value="4">회계</option>
          </select>
          <label>포지션</label>
          <select class="form-select" aria-label="포지션을 선택하세요" th:field="*{studentType}">
            <option value="-1" selected>포지션을 선택하세요</option>
            <option value="1">FRONT</option>
            <option value="2">MIDDLE</option>
            <option value="3">BACK</option>
          </select>
          <div class="form-floating">
            <input type="text" class="form-control" th:field="*{name}" placeholder="이름">
            <label label for="floatingPassword">이름</label>
          </div>
          <div class="form-floating">
            <input type="number" class="form-control" th:field="*{age}" placeholder="나이">
            <label label for="floatingPassword">나이</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" th:field="*{email}" placeholder="이메일">
            <label label for="floatingPassword">이메일</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" th:field="*{accountId}" placeholder="아이디">
            <label label for="floatingPassword">아이디</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" th:field="*{accountPasswd}"
                   placeholder="비밀번호">
            <label label for="floatingPassword">비밀번호</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" th:field="*{accountPasswdCheck}"
                   placeholder="비밀번호를 다시 입력해주세요">
            <label label for="floatingPassword">비밀번호 확인</label>
          </div>
          <input type="submit" class="btn btn-primary" value="등록">
          <button type="button" th:href="@{/login}" class="btn btn-outline-primary">취소</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <div class="col"></div>
</div>
<!-- <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Millennium</p>
</footer> -->
<div th:replace="~{misc/footer :: footer}"></div>
<script th:src="@{/js/bootstrap.js}" defer></script>

</body>

</html>