<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>

<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page"
                            sec:authorize="isAnonymous()">Home</a>
    </li>
    <li class="nav-item"><a href="/post/list/1" class="nav-link" aria-current="page"
                            sec:authorize="isAuthenticated()">Board</a></li>
    <li class="nav-item"><a href="#" class="nav-link" sec:authorize="isAnonymous()">FAQs</a></li>
    <li class="nav-item"><a
        th:href="@{|../../../member/mypage/${#authentication.getPrincipal().getUsername()}|}"
        class="nav-link" sec:authorize="isAuthenticated()">MyPage</a>
    </li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    <li class="nav-item"><a href="/login" class="nav-link" sec:authorize="isAnonymous()">Login/Regist</a>
    </li>
    <li class="nav-item"><a href="/logout" class="nav-link"
                            sec:authorize="isAuthenticated()">Logout</a></li>
  </ul>
</header>
<div style="text-align: center;">
  <h1>키보토스 인사이드에 오신 것을 환영합니다!</h1><br>
  <p>키보토스 인사이드는 회원제 커뮤니티 사이트입니다.</p>
</div>

<!-- <a href="/join">회원 가입</a> -->

<!--<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Millennium</p>
</footer>-->
<div th:replace="~{misc/footer :: footer}"></div>

<script th:src="@{/js/bootstrap.js}" defer></script>
</body>

</html>